.navbar
  position fixed
  top 0
  z-index 1
  width 100%
  display flex
  align-items center
  justify-content space-between
  padding 0 1rem
  background-color var(--bg-navbar)

  &__logo
    height 55px