.light
  --bg $light1
  --bg-navbar $dark2
  --bg-card $dark3
  --border $light2
  --color $dark4
  --color-contrast $light4

.dark
  --bg $dark1
  --bg-navbar $light2
  --bg-card $dark5
  --border $dark2
  --color $light4
  --color-contrast $dark4
