.pagination
  display flex
  align-items center
  justify-content center
  gap 0 1.5rem
  font-size 1.3rem

  &__page
    color var(--color)

    &:hover
      cursor pointer

  .current-page
    color $orange1
    text-decoration underline
