@import './globals/*'

// views
@import './views'

// components
@import './components/**/*.styl'

*
  font-family 'Lato', 'Roboto'

#app
  min-height 100vh
  background-color var(--bg)
  color var(--color)
  border-color var(--border)
  transition background 500ms ease-in-out, color 500ms ease-in-out;